node_modules/
dist/
build/
.next/
.expo/
.turbo/
*.log
.env
.env.local
.env.*.local
# Ignore env templates too (do not commit)
.env.example
**/.env.example
coverage/
.DS_Store
Thumbs.db
*.pem
uploads/
.prisma/
